
		html, body{
		  /*height: auto;*/
		/*background-repeat: no-repeat;
  		  background-size: cover;
  		  background-position: center ;
  		  background-attachment: fixed;*/
  		  background: url(hs.png) no-repeat center center fixed; 
  		  -webkit-background-size: cover;
  		  -moz-background-size: cover;
  		  -o-background-size: cover;
  		  background-size: cover;
  		  font-size: 1.7rem;
  		  font-family: serif;
		}


		@media (max-device-width: 768px) {
  			html, body{
   			 background-image: url("hs2.png");
   			 
 		 	}

		}
		/*Link Behavior*/
		a:link {
		  text-decoration: none;
		  color: white;
		}

		a:visited {
		  text-decoration: none;
		  color: white;
		}

		a:hover {
		  text-decoration: none;
		  color: pink;
		}

		.footer{
			width: auto;
			position: absolute;
  			bottom: 0;
  			color: white;
  			clear: both;
  			right: 0;
  			padding-right: 10px;
		}

		p{
		
		}