html{
	overflow-y: hidden;
	height: 100vh;
	background: #111d12 url("../images/hs.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

body{
  	font-family: 'Gaegu', serif;

}
@media {
	html {
	    background: url("../images/hs2.png") no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    height: 100%;
	    overflow: hidden;
	}
}

/* @media (max-device-width: 768px) {
	html{
		background: #111d12 url("../images/hs2.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	 }
}
*/

/*Link Behavior*/
a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: pink;
}

.nav-links{
	font-size: 34pt;
	letter-spacing: 2px;

}

#logo{
	width:;
}


.footer{
	position: absolute;
	color: white;
	clear: both;
	right: 0;
	bottom: 0;
	padding-right: 10px;
	height: 40px;
}

footer > p{
	font-size: 40pt;
}
